<div class="text-center">
    <h1>My Sessions</h1>
    <%= user_signed_in? && policy(Session).new? ? link_to('New Session', sessions_new_path, class: "btn btn-primary") : '' %>
</div>

<div class="d-flex flex-row flex-wrap justify-content-evenly align-items-start">
    <% @sessions.each do |session| %>
        <% if current_user.id == session.user_id %>
            <%= render partial: "shared/card", locals: {session: session} %>
        <% end %>
    <% end %>
</div>
