<h1 class="m-3">Show Session</h1>

<div class="d-flex flex-column flex-wrap justify-content-evenly align-items-start">



<%= render partial: "shared/card", locals: {session: @session} %>

    <div class="btn-toolbar me-3">
        <%= link_to('Back', root_path, class: 'btn btn-primary mx-3') %>
        <% if policy(@session).update? && policy(@session).destroy? %>
            <%= link_to('Edit', edit_session_path(@session), class: 'btn btn-warning me-3') %>
            <%= button_to('Delete', @session, class: 'btn btn-danger', method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete '#{@session.title}' ?" } }) %>
        <% end %>
    </div>
</div>